# ignoring image files
img/1.jpg
img/2.jpg
img/1-thumb.jpg
img/2-thumb.jpg
img/3.jpg
img/3-thumb.jpg
/img/4.jpg 
/img/4-thumb.jpg
/img/5.jpg 
/img/5-thumb.jpg
/img/6.jpg
/img/6-thumb.jpg
/img/6.jpg
/img/7-thumb.jpg
/img/7.jpg
/img/8-thumb.jpg
/img/8.jpg
/img/bg.png
/img/bg-body.jpg
/img/mar.jpg
/img/marathon-slider-bg-copy.jpg
/img/photo.jpg
/img/photo1.png
/img/work3.jpg

